@model NerdsOnWheels.ViewModels.CustomerProfileViewModel
@{
    ViewBag.Title = "View Customer Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>My Profile</h2>
<br />
<br />

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Balance)
        </dd>

    </dl>
</div>

<input type="submit" value="Change My Info" />
<br />
<br />

<input type="submit" value="Pay My Bill" />
<br />

<input type="submit" value="View My Service History" />
<br />
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@



